html {
	margin: 0 auto;
	overflow-y: scroll;
	min-height: 100%;
}

body {
	margin: 0 auto;
	font-family: arial, sans-serif;
}

#topsearch {
	width: 100%;
	height: 59px;
	border-bottom: 1px solid #E5E5E5;
	background-color: #F1F1F1;
}

#logo {
	margin: 6px 8px;
	text-decoration: none;
	width: 107px;
	height: 44px;
	position: absolute;
	cursor: pointer;
}

#input {
	height: 36px;
	width: 580px;
	padding-left: 8px;
	border: 1px solid #D9D9D9;
	margin-top: 9px;
	margin-left: 126px;
	font-family: arial, sans-serif;
	font-size: 16px;
	line-height: 26px;
	text-align: left;
	position: absolute;
}

#input:hover {
	border: 1px solid silver;
}

#searchbutton {
	background: url('../Images/searchbutton.png') no-repeat; 
	height: 40px; 
	width: 40px;
	min-width: 38px;
	padding: 0;
	border: 1px solid #3B78E7;
	border-radius: 0 3px 3px 0;
	position: absolute;
	margin-left: 715px;
	margin-top: 9px;
}

#right {
	float: right;
}

#signin {
	float: right;
	border: none;
	border-radius: 3px;
	background-color: #4285F4;
	border: 1px solid #4285F4;
	color: white;
	font-family: arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	margin-right: 30px;
	margin-top: 15px;
	height: 30px;
	width: 71px;
	display: inline-block;
}

#menu {
	margin-top: 19px;
	margin-right: 19px;
}

#topnavigation {
	width: 100%;
	height: 59px;
	border-bottom: 1px solid #EBEBEB;
	
}

#topnavigation ul {
	list-style-type: none;
	font-family: arial, sans-serif;
	font-size: 13px;
	color: #777777;
	margin: 0 auto;
	position: absolute;
}

#topnavigation ul li {
	display: inline-block;
	height: 35px;
	cursor: pointer;
	padding-left: 8px;
	padding-right: 8px;
	margin-left: 12px;
	padding-top: 21px;
}

#topnavigation ul li:first-child {
	margin-left: 88px;
	border-bottom: 3px solid #4285F4;
	font-weight: bold;
	color: #4285F4;
}

#topnavigation ul li:hover {
	color: black;
}

#topnavigation ul li:first-child:hover {
	color: #4285F4;
}

#settings {
	float: right;
}

#settingbutton {
	margin-right: 28px;
	margin-top: 14px;
	height: 29px;
	width: 72px;
	display: inline-block;
	border: 1px solid #D8D8D8;
	border-radius: 3px;
	background: url('../Images/setting.png') no-repeat center;
	background-color: #F3F3F3;
}

#settingbutton:hover {
	box-shadow: 0 0 1px silver;
}

#topresults {
	display: block;
}

#topresults p {
	font-family: arial, sans-serif;
	font-size: 13px;
	color: #808080;
	margin-left: 136px;
}

#topresults #feedback {
	font-family: arial, sans-serif;
	font-size: 11px;
	font-style: italic;
	color: #808080;
	margin-top: 5px;
	margin-left: 613px;
	margin-bottom: 20px;
	text-align: right;
	display: inline-block;
}

#result {
	width: 555px;
	box-shadow: 0 1px 3px silver;
	text-align: left;
	margin-left: 128px;
	margin-top: 23px;
	
}

#result p {
	font-size: 16px;
	padding: 20px 20px;
	margin: 0;
	color: #222222;
	line-height: 1.2;
}

#result img {
	float: right;
	padding-bottom: 20px;
	padding-left: 16px
}

.date {
	font-family: arial, sans-serif;
	font-size: 14px;
	color: #808080;
}

.link {
	text-decoration: none;
	font-size: 18px;
	color: #1A0DBB;
	padding-top: 1px;
	margin-top: 10px;
	cursor: pointer;
}

.link:hover {
	text-decoration: underline;
}

.url {
	font-size: 14px;
	color: #006621;
	position: relative;

}

.dateresult {
	font-family: arial, sans-serif;
	font-size: 13px;
	color: #808080;
}

.description {
	font-size: 13px;
	color: #545454;
	line-height: 18px;
	margin-top: 0;
	margin-bottom: 20px;
}

#allresults {
	width: 510px;
	margin-left: 131px;
	padding-left: 5px;
}

.relatedsearches {
	border-top: 1px solid #EBEBEB;
	border-bottom: 1px solid #EDEDED;
	width: 510px;
	margin-left: 128px;
	padding-left: 5px;
	font-size: 18px;
	color: #808080;
}

.relatedheading {
	margin-top: 15px;
	margin-bottom: 6px;
	padding-left: 3px;
}

td {
	font-size: 13px;
	color: #1A0DAB;
	line-height: 21px;
	cursor: pointer;
	padding-right: 13px;
}

td:hover {
	text-decoration: underline;
}